@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=VT323&display=swap");

:root {
  --primary: #00b29d;
}

body {
  background: #f2f2f2;
  font-family: "Poppins";
}
.tabs {
  width: 600px;
  margin: 100px auto;
}

/* buttons */

.buttons {
  display: flex;
  align-items: center;
}

.button {
  border: 1px solid lightgray;
  border-bottom: none;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  color: black;
  opacity: 0.5;
  font-weight: bold;
}

.button:active {
  background-color: coral;
}

/* panels */

.panels {
  border: 1px solid lightgray;
}

.panel {
  padding: 10px 15px;
  margin-bottom: 25px;
  display: none;
}

.panel:target {
  display: block;
}
