.formContainer {
  border: 1px solid lightgray;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formContainer input {
  padding: 10px;
}

.formContainer button {
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 0;
}

.formContainer button:disabled {
  background-color: #333;
  cursor: not-allowed;
  color: rgb(69, 69, 69);
  border: none;
}

.formContainer h1 {
  min-width: 34.8125px;
}
