.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.buttons {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.button {
  color: white;
  background-color: gray;
}

.button:disabled {
  cursor: not-allowed;
  color: gray;
  background-color: black;
}
